# Python bytecode
*.pyc
__pycache__/

# Django
*.log
*.sqlite3
/db.sqlite3
/media
/staticfiles

# Environnement virtuel
venv/
env/
env.bak/
.venv/

# IDEs et éditeurs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.iml

# Fichiers de configuration de l'OS
.DS_Store
Thumbs.db

# Fichiers temporaires
*.swp
*.tmp

# Fichiers de cache
*.cache
